<template>
  <ion-page>
    <div v-if="forceUpdate">
      <ion-nav :root="ItemsFavorite"></ion-nav>
    </div>
    <ion-nav :root="ItemsFavorite" v-else></ion-nav>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonNav } from '@ionic/vue';
import ItemsFavorite from "@/components/ItemsFavorite.vue";

export default defineComponent({
  name: 'FavoriteView',
  components: { IonNav, IonPage },
  ionViewWillEnter() {
    this.forceUpdate = !this.forceUpdate;
  },
  data: function () {
    return {
      forceUpdate: true,
      ItemsFavorite: ItemsFavorite,
    }
  }
});
</script>
