<template>
  <ion-page>
    <div v-if="forceUpdate">
      <ion-nav :root="ItemsHome"></ion-nav>
    </div>
    <ion-nav :root="ItemsHome" v-else></ion-nav>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonNav } from '@ionic/vue';
import ItemsHome from "@/components/ItemsHome.vue";

export default defineComponent({
  name: 'HomeView',
  components: { IonPage, IonNav },
  ionViewWillEnter() {
    this.forceUpdate = !this.forceUpdate;
  },
  data: function () {
    return {
      forceUpdate: true,
      ItemsHome: ItemsHome,
    }
  }
});
</script>