<template>
  <ion-page>
    <div v-if="forceUpdate">
      <ion-nav :root="ItemPanier"></ion-nav>
    </div>
    <ion-nav :root="ItemPanier" v-else></ion-nav>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonNav } from '@ionic/vue';
import ItemPanier from '@/components/panier/ItemPanier.vue'

export default  defineComponent({
  name: 'PanierView',
  components: { IonPage, IonNav },
  ionViewWillEnter() {
    this.forceUpdate = !this.forceUpdate;
  },
  data: function () {
    return {
      forceUpdate: true,
      ItemPanier: ItemPanier
    }
  }
});
</script>