<template>
  <ion-page>
    <ion-nav :root="CatSearch"></ion-nav>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonNav } from '@ionic/vue';
import CatSearch from "@/components/CatSearch.vue";

export default defineComponent({
  name: 'FavoriteView',
  components: { IonNav, IonPage },
  data: function () {
    return {
      CatSearch: CatSearch,
    }
  }
});
</script>