<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>User</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">User</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="content">
        <ion-input type="text" placeholder="Email"></ion-input>
        <ion-input type="password" placeholder="Mot de passe"></ion-input>
        
        <a @click="setOpen(true)">Mot de passe oublié ?</a>
        <ion-modal :is-open="isOpenRef" 
        :swipe-to-close="true"
        @didDismiss="setOpen(false)"
        >
          <ion-content class="ion-padding">
            <div class="divModalMdp">
              <h2>Mot de passe oublié ?</h2>
              <p>Nous pouvons vous envoyez un nouveau mot de passe par e-mail</p>
              <ion-input class="emailMdpOublier" type="email" placeholder="Votre e-mail"></ion-input>
              <ion-button class="btnEnvoyer">Envoyer</ion-button>
              <p @click="setOpen(false)">Annuler</p>
            </div>
          </ion-content>
        </ion-modal>

        <ion-button class="btnConnexion">Connexion</ion-button>
        <a href="#">Crée un compte</a>
      </div>
    </ion-content>
    <ion-footer>
        <div class="contentBtnConnReseaux">
          <div class="btnGoogleConnex">
            <ion-img :src="'https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png'" class="img imgGoogle"></ion-img>
            <p>Connexion avec Google</p>
          </div>
          <div class="btnFacebookConnex">
            <ion-img :src="'https://f6.ftipng.com/pngimgs/other/102/png-clipart-Free-Png-Download-Facebook-Logo-White-Png-Images-Background-Facebook-Logo-For-Black-Background_thumbnail.png'" class="img imgFacebook"></ion-img>
            <p>Connexion avec Facebook</p>
          </div>
        </div>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonContent, IonTitle, IonInput, IonModal, IonButton, IonFooter } from '@ionic/vue';

export default  defineComponent({
  name: 'Tab5Page',
  components: { IonPage, IonHeader, IonToolbar, IonContent, IonTitle, IonInput, IonModal, IonButton, IonFooter },
  setup() {
    const isOpenRef = ref(false);
    const setOpen = (state: boolean) => isOpenRef.value = state;
    const data = { content: 'New Content' };
    return { isOpenRef, setOpen, data, enableBackdropDismiss: true,
      showBackdrop: true,
      shouldPropagate: true }
  }
});
</script>

<style scoped>

/* Modal */
ion-modal::part(backdrop) {
  background-color: rgb(0, 0, 0);
}

ion-modal::part(content) {
  width: 290px;
  height: 290px;
}

.divModalMdp {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.divModalMdp p {
  text-align: center;
}

.divModalMdp h2 {
  text-align: center;
  margin: 0 0 0 0;
}

.emailMdpOublier {
  border: 1px solid var(--ion-color-primary-contrast-etape-paiement);
}

.btnEnvoyer {
  margin-top: 1rem;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  padding: 2rem;
  align-content: center;
}

.content ion-input {
  border: 1px solid var(--ion-color-primary-contrast-etape-paiement);
  margin-bottom: 1rem;
}

.content a {
  font-size: 12px;
  text-align: center;
  margin-bottom: 2rem;
}

.btnConnexion {
  margin-bottom: 1rem;
}

.contentBtnConnReseaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnGoogleConnex, .btnFacebookConnex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  border: 1px solid;
  border-radius: 5px;
  width: 250px;
}

.btnGoogleConnex img, .btnFacebookConnex img {
  margin-right: 1rem;
}

.btnGoogleConnex {
  border-color: #121212;
  background-color: white;
  color: black;
}

.btnFacebookConnex {
  border-color: #0B85EE;
  background-color: #0B85EE;
}

ion-footer .img {
  width: 30px;
}

ion-title {
  position: relative;
  text-align: center;
}

ion-title span{
  text-decoration: none;
}

ion-title .modifierPanier {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  margin-right: 0.2rem;
}

ion-title .modifierPanierIos {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
}
</style>
