<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/tabs/home">
          <ion-icon :icon="homeOutline" />
        </ion-tab-button>

        <ion-tab-button tab="search" href="/tabs/search">
          <ion-icon :icon="searchOutline" />
        </ion-tab-button>
        
        <ion-tab-button tab="favories" href="/tabs/favories">
          <ion-icon :icon="heartOutline" />
        </ion-tab-button>

        <ion-tab-button tab="panier" href="/tabs/panier">
          <ion-icon :icon="basketOutline" />
        </ion-tab-button>

        <ion-tab-button tab="user" href="/tabs/user">
          <ion-icon :icon="personOutline" />
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonTabBar, IonTabButton, IonTabs, IonIcon, IonPage, IonRouterOutlet } from '@ionic/vue';
import { homeOutline, searchOutline, heartOutline, basketOutline, personOutline } from 'ionicons/icons';

export default defineComponent({
  name: 'TabsPage',
  components: { IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage, IonRouterOutlet },
  setup() {
    return {
      homeOutline, 
      searchOutline, 
      heartOutline,
      basketOutline,
      personOutline
    }
  }
});
</script>
