<template>
    <ion-card>
        <ion-card-title>{{ name }}</ion-card-title>
    </ion-card>
</template>

<script lang="ts">
import { IonCard, IonCardTitle} from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  components: { IonCard, IonCardTitle },
  name: "CatCard",
  props: {
    name: String
  }
});
</script>

<style scoped>
ion-card {
  margin: 0.7rem 1rem;
}
ion-card-title {
  padding: 0.6rem;
  font-size: 1.2rem;
}
</style>