<template>
  <ion-content :fullscreen="true">
    <ion-searchbar></ion-searchbar>
    <loader-data v-if="!cats.length"/>
    <ion-nav-link v-else :component="ItemsSearch" :componentProps="{...cat, back: '/tabs/search'}" v-for="cat of cats" :key="cat.name">
      <cat-card :name="cat.name" button />
    </ion-nav-link>
  </ion-content>
</template>

<script lang="ts">
import { IonContent, IonNavLink, IonSearchbar } from '@ionic/vue';
import { defineComponent } from 'vue';
import ItemsSearch from "@/components/ItemsSearch.vue";
import CatCard from "@/components/CatCard.vue";
import { URL_BASE_API } from "@/config";
import LoaderData from "@/components/LoaderData.vue";

interface Category {
  name: string
}

export default defineComponent({
  components: {LoaderData, IonContent, IonNavLink, CatCard, IonSearchbar },
  name: "CatSearch",
  data: function(): {ItemsSearch: any, cats: Category[]} {
    (async (): Promise<void> => {
      const response = await fetch(URL_BASE_API + 'categories?page=1');
      const json = await response.json();

      this.cats = json['hydra:member'].map((category: Category) => ({
        name: category.name,
      }));
    })();

    return {
      ItemsSearch: ItemsSearch,
      cats: [],
    }
  }
});
</script>

<style scoped>
.grid ion-card {
  align-self: stretch;
}

.loader {
  position: relative;
  margin-top: 1rem;
}

.loader {
  left: 50%;
  border: 0.5rem solid #9fd4b4;
  border-top: 0.5rem solid var(--ion-color-primary);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s infinite;
}

@keyframes spin {
  0% { transform:  translate(-50%) rotate(90deg); }
  100% { transform:  translate(-50%) rotate(450deg); }
}
</style>