<template>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button :defaultHref="back"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <span>Filter</span>
        <span class="top" @click="reset">Réinitialiser</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content :fullscreen="true">
    <div class="title">Trier</div>
    <div class="grid">
      <ion-button expand="full">Prix croissant</ion-button>
      <ion-button expand="full">Prix decroissant</ion-button>

      <ion-button expand="full">Nom</ion-button>
      <ion-button expand="full">Note</ion-button>
    </div>

    <div class="title">Filtrer</div>
    <div class="ligne"></div>

    <div class="title-2">Prix</div>

    <div class="grid-price">
      <span>{{ min }} €</span>
      <span>{{ max }} €</span>
    </div>

    <div>
      <input type="range" id="input-left" min="0" max="100" value="25" @input="setLeftValue">
      <input type="range" id="input-right" min="0" max="100" value="75" @input="setRightValue">
      <div class="slider">
        <div class="track"></div>
        <div class="range"></div>
        <div class="thumb left"></div>
        <div class="thumb right"></div>
      </div>
    </div>

    <div class="title">Couleur</div>
    <div class="ligne" ></div>

    <loader-data v-if="!colors.length"/>
    <div class="colors" v-else>
      <div :class="'color' + (color.active ? ' active' : '')" :style="'background-color:' + color.hex + ';'" v-for="(color, index) of colors" :key="color.hex" @click="colorClick(index)"></div>
    </div>

    <ion-button expand="full">Afficher les {{ resultsNumber }} resultats</ion-button>
  </ion-content>
</template>

<script lang="ts">
import { IonBackButton, IonButtons, IonContent, IonHeader } from '@ionic/vue';
import { defineComponent } from 'vue';
import LoaderData from "@/components/LoaderData.vue";
import { URL_BASE_API } from '@/config';

interface Color {
  hex: string,
  active: boolean
}

export default defineComponent({
  components: { IonBackButton, IonButtons, IonContent, IonHeader, LoaderData },
  name: "FilterSearch",
  props: {
    back: String,
    name: String
  },
  data: function (): {resultsNumber: number, min: number, max: number, colors: Color[]} {
    (async (): Promise<void> => {
      const response = await fetch(URL_BASE_API + 'couleurs?page=1');
      const json = await response.json();
      this.colors = json['hydra:member'].map((color: Color) => ({
        hex: "#" + color.hex,
        active: false
      }));
    })();

    return {
      resultsNumber: 76,
      min: 25,
      max: 75,
      colors: [],
    }
  },
  methods: {
    reset: function () {
      this.resultsNumber = 76;

      this.min = 25;
      this.max = 75;
      const inputLeft: any = document.getElementById("input-left");
      const inputRight: any = document.getElementById("input-right");
      const thumbLeft: any = document.querySelector(".slider .thumb.left");
      const thumbRight: any = document.querySelector(".slider .thumb.right");
      const range: any = document.querySelector(".slider .range");

      const percentMin = ((this.min - inputLeft.min) / (inputLeft.max - inputLeft.min)) * 100;
      const percentMax = ((this.max - inputLeft.min) / (inputLeft.max - inputLeft.min)) * 100;
      inputLeft.value = this.min;
      inputRight.value = this.max;

      thumbLeft.style.left = percentMin + "%";
      range.style.left = percentMin + "%";

      thumbRight.style.right = (100 - percentMax) + "%";
      range.style.right = (100 - percentMax) + "%";

      for (let i = 0; i < this.colors.length; i++) {
        this.colors[i].active = false
      }
    },
    colorClick: function (index: number) {
      for (let i = 0; i < this.colors.length; i++) {
        if (i == index) {
          this.colors[i].active = !this.colors[i].active
        } else {
          this.colors[i].active = false
        }
      }
    },
    setLeftValue: function () {
      const inputLeft: any = document.getElementById("input-left");
      const inputRight: any = document.getElementById("input-right");

      const thumbLeft: any = document.querySelector(".slider .thumb.left");
      const range: any = document.querySelector(".slider .range");

      const _this = inputLeft,
          min = parseInt(_this.min),
          max = parseInt(_this.max);

      _this.value = Math.min(parseInt(_this.value), parseInt(inputRight.value) - 1);

      const percent = ((_this.value - min) / (max - min)) * 100;

      thumbLeft.style.left = percent + "%";
      range.style.left = percent + "%";

      this.min = _this.value;
    },
    setRightValue: function () {
      const inputLeft: any = document.getElementById("input-left");
      const inputRight: any = document.getElementById("input-right");

      const thumbRight: any = document.querySelector(".slider .thumb.right");
      const range: any = document.querySelector(".slider .range");

      const _this = inputRight,
          min = parseInt(_this.min),
          max = parseInt(_this.max);

      _this.value = Math.max(parseInt(_this.value), parseInt(inputLeft.value) + 1);

      const percent = ((_this.value - min) / (max - min)) * 100;

      thumbRight.style.right = (100 - percent) + "%";
      range.style.right = (100 - percent) + "%";

      this.max = _this.value;
    }
  }
});
</script>

<style scoped>
.top {
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
}

.title {
  font-size: 1.7rem;
  margin: 1.7rem 0 0.5rem  0.7rem;
}

.title-2 {
  font-size: 1.5rem;
  padding: 1rem 0 1rem 1.2rem;
}

.ligne {
  padding: 1px;
  background-color: var(--ion-text-color);
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4rem;
  margin: 0.6rem;
}

.grid-price {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.2rem;
}

.grid-price > span {
  font-size: 1.5rem;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.color {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin: 1rem;
}
.color.active {
  border: solid 3px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0.8rem 1.2rem;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #9fd4b4;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: var(--ion-color-primary);
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: var(--ion-color-primary);
  border-radius: 50%;
  transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
</style>