<template>
  <ion-card v-if="view">
    <ion-icon :icon="trashOutline" class="iconTrash" v-if="isEditing" @click="remove"/>

    <ion-card-header>
      <ion-img :src="img" class="imgProduit"></ion-img>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title> {{ name }} </ion-card-title>
      <span>{{ desc }}</span>
      <span class="priceProduit">{{ price }} €</span>
    </ion-card-content>

    <ion-icon :icon="cartOutline" class="iconCart" @click="addPanierButton"/>
  </ion-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import {IonCard, IonCardHeader, IonCardTitle, IonCardContent, IonImg, IonIcon, toastController} from '@ionic/vue';
import { cartOutline, trashOutline } from "ionicons/icons";
import {addFav, addPan, getFav, removeFav} from "@/saver";

export default defineComponent({
  name: 'ItemCardFavorite',
  components: { IonCard, IonCardHeader, IonCardTitle, IonCardContent, IonImg, IonIcon },
  props: {
    id: Number,
    name: String,
    desc: String,
    img: String,
    price: Number,
    isEditing: Boolean,
    removeButton: Function
  },
  data: function () {
    return {
      view: true,
    }
  },
  setup() {
    return {
      cartOutline,
      trashOutline
    }
  },
  methods: {
    remove: function(event: any) {
      event.stopPropagation();
      this.view = false;
      removeFav(this.id);
      if (this.removeButton) {
        this.removeButton();
      }
    },
    async addPanierButton(event: any) {
      event.stopPropagation();
      addPan(this.id);
      const toast = await toastController
          .create({
            color: "medium",
            message: 'Vous avez ajouté cette article au panier',
            duration: 2000
          })
      return toast.present();
    }
  }
});
</script>

<style scoped>
.iconTrash {
  font-size: 4rem;
}

.iconCart {
  font-size: 4.5rem;
}

.imgProduit {
  width: 6rem;
}

.priceProduit {
  font-size: 1.2rem;
}

ion-card-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

ion-card {
  display: flex;
  align-items: center;
  margin: 0.6rem 0.6rem;
}

ion-card-title {
  margin-bottom: 0.5rem;
}

ion-card-header {
  padding: 0.5rem;
}
</style>