<template>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button :defaultHref="back"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <span>{{ name }}</span>
        <ion-nav-link :component="FilterSearch" :componentProps="{...item, back: back}" v-for="item of items" :key="item.name">
          <span class="top">Filter</span>
        </ion-nav-link>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content :fullscreen="true">
    <loader-data v-if="!items.length"/>
    <div class="grid" v-else>
      <ion-nav-link :component="itemC2" :componentProps="{...item, back: back}" v-for="item of items" :key="item.name" class="all">
        <item-card :name="item.name" :img="item.image" :desc="item.description.split(' ').slice(0, 20).join(' ') + ' ...'" :price="item.price" :id="item.id" button />
      </ion-nav-link>
    </div>
  </ion-content>
</template>

<script lang="ts">
import {IonHeader, IonToolbar, IonTitle, IonContent, IonNavLink, IonBackButton, IonButtons} from '@ionic/vue';
import { defineComponent } from 'vue';
import ItemCard from "@/components/ItemCard.vue";
import ItemDetail from "@/components/ItemDetail.vue";
import FilterSearch from "@/components/FilterSearch.vue";
import LoaderData from "@/components/LoaderData.vue";
import { URL_BASE, URL_BASE_API } from "@/config";

interface Produit {
  id: number,
  name: string,
  price: number,
  description: string,
  image: string,
  rating: number,
  numberNote: number,
  imgsDesc: string,
}

export default defineComponent({
  components: { ItemCard, IonHeader, IonToolbar, IonTitle, IonContent, IonNavLink, IonBackButton, IonButtons, LoaderData },
  name: "ItemsHome",
  data: function () {
    (async (): Promise<void> => {
      const response = await fetch(URL_BASE_API + 'produits?page=1');
      const json = await response.json();
      console.log(json['hydra:member']);

      let numberNote = 1;
      this.items = json['hydra:member'].map((produit: Produit) => ({
        id: produit.id,
        name: produit.name,
        price: produit.price,
        description: produit.description,
        image: produit.image,
        rating: produit.rating,
        numberNote: numberNote++,
        imgsDesc: [
          URL_BASE + "images/exterieur_chaises_1.jpg",
          URL_BASE + "images/exterieur_chaises_2.jpg"
        ],
      }));
    })();

    return {
      FilterSearch: FilterSearch,
      itemC2: ItemDetail,
      items: []
    }
  },
  props: {
    back: String,
    name: String,
  },
});
</script>

<style scoped>

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0.6rem;
}

.grid ion-card {
  align-self: stretch;
}

.top {
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
}

.all {
  display: flex;
}
</style>