<template>
  <ion-card v-if="view">
      <div class="iconDiv">
        <ion-icon :icon="chevronUpOutline" class="iconTrash" v-if="isEditing" @click="up"/>
        <ion-icon :icon="trashOutline" class="iconTrash" v-if="isEditing" @click="remove"/>
        <ion-icon :icon="chevronDownOutline" class="iconTrash" v-if="isEditing" @click="down"/>
      </div>
      <ion-card-header>
          <ion-img :src="image" class="imgProduit"></ion-img>
      </ion-card-header>

      <ion-card-content>
        <ion-card-title> {{ name }} </ion-card-title>
        <span class="descProduit">{{ desc }}</span>
        <div class="qtePrixProduit">
          <span class="qteProduit">Quantité : {{ qte + delta }}</span>
          <span class="prixProduit">{{ price }}€</span>
        </div>
      </ion-card-content>
  </ion-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import {IonCard, IonCardHeader, IonCardTitle, IonCardContent, IonImg, toastController} from '@ionic/vue';
import {cartOutline, trashOutline, chevronUpOutline, chevronDownOutline} from "ionicons/icons";
import {addPan, removePan, upPan, downPan} from "@/saver";

export default defineComponent({
  name: 'ItemCardPanier',
  components: { IonCard, IonCardHeader, IonCardTitle, IonCardContent, IonImg },
  props: {
    id: Number,
    name: String,
    desc: String,
    image: String,
    qte: Number,
    price: Number,
    isEditing: Boolean,
    removeButton: Function,
    updateTotal: Function
  },
  data: function () {
    return {
      view: true,
      delta: 0
    }
  },
  setup() {
    return {
      trashOutline,
      chevronUpOutline,
      chevronDownOutline
    }
  },
  methods: {
    remove: function(event: any) {
      event.stopPropagation();
      this.view = false;
      removePan(this.id);
      if (this.removeButton) {
        this.removeButton();
      }
      if (this.updateTotal) {
        this.updateTotal();
      }
    },
    up: function(event: any) {
      event.stopPropagation();
      this.delta = this.delta + 1;
      upPan(this.id);
      if (this.updateTotal) {
        this.updateTotal();
      }
    },
    down: function(event: any) {
      event.stopPropagation();
      if ((this.qte ?? 1) + this.delta > 1) {
        this.delta = this.delta - 1;
        downPan(this.id);
        if (this.updateTotal) {
          this.updateTotal();
        }
      }
    }
  }
});
</script>

<style scoped>

.iconDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconTrash {
  font-size: 3rem;
}

.imgProduit {
    width: 150px;
}

.qtePrixProduit {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  align-items: baseline;
}

.qtePrixProduit .qteProduit {
  font-size: 0.8rem;
}

.descProduit {
  font-size: 12px;
}

ion-card-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

ion-card {
  display: flex;
}

ion-card-title {
  font-size: large;
  margin-bottom: 0.5rem;
}

ion-card-header {
  padding: 0.5rem;
}

</style>