<template>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button :defaultHref="back"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content :fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ name }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-slides pager="true" style="height:35vh;">
      <ion-slide>
        <ion-img :src="image"/>
      </ion-slide>
      <ion-slide v-for="(imgDesc, index) in imgsDesc" :key="index">
        <ion-img :src="imgDesc"/>
      </ion-slide>
    </ion-slides>

    <ion-card-header>
      <div class="top-bar">
        <ion-card-title>{{ name }}</ion-card-title>
        <span class="price">{{ price }} €</span>
      </div>
    </ion-card-header>

    <ion-card-content>
      {{ description }}
      <div class="avis">
        <ion-icon :icon="star" v-for="starIndex of [...Array(rating).keys()]" :key="starIndex"/>
        <ion-icon :icon="starOutline" v-for="starIndex of [...Array(5-rating).keys()]" :key="starIndex"/>
        <span class="number-note">({{numberNote}})</span>
      </div>
    </ion-card-content>
  </ion-content>
  <ion-footer>
    <ion-button expand="full" @click="addPanierButton">Ajouter au panier</ion-button>
  </ion-footer>
</template>

<script lang="ts">
import { IonImg, IonFooter, IonCardContent, IonCardHeader, IonButton, IonCardTitle, IonIcon, IonContent, IonHeader, IonToolbar, IonTitle, IonBackButton, IonButtons, IonSlides, IonSlide, toastController  } from '@ionic/vue';
import { defineComponent } from 'vue';
import { starOutline, star } from "ionicons/icons";
import {getFav, addPan, removeFav, removeAllFav} from "@/saver";

export default defineComponent({
  components: { IonImg, IonFooter, IonCardContent, IonCardHeader, IonButton, IonCardTitle, IonIcon, IonContent, IonHeader, IonToolbar, IonTitle, IonBackButton, IonButtons, IonSlides, IonSlide },
  name: "ItemDetail",
  props: {
    id: Number,
    back: String,
    name: String,
    image: String,
    description: String,
    price: Number,
    rating: Number,
    numberNote: Number,
    imgsDesc: Array,
  },
  setup() {
    return {
      star,
      starOutline
    }
  },
  methods: {
    async addPanierButton() {
      addPan(this.id);
      const toast = await toastController
          .create({
            color: "medium",
            message: 'Vous avez ajouté cette article au panier',
            duration: 2000
          })
      return toast.present();
    }
  }
});
</script>

<style scoped>
.top-bar {
  display: flex;
  justify-content: space-between;
}
.price {
  font-size: 1.2rem;
}

.avis {
  display: flex;
  align-items: center;
}

ion-icon, .number-note {
  font-size: 1.5rem;
}
.number-note {
  margin-left: 0.3rem;
}
</style>