<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>Accueil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content :fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Accueil</ion-title>
      </ion-toolbar>
    </ion-header>
    <loader-data v-if="!items.length"/>
    <div class="grid" v-else>
      <ion-nav-link :component="itemC" :componentProps="{...item, back: '/tabs/home'}" v-for="item of items" :key="item.name" class="all">
        <item-card :name="item.name" :img="item.image" :desc="item.description.split(' ').slice(0, 20).join(' ') + ' ...'" :price="item.price" :fav="false" :id="item.id" button />
      </ion-nav-link>
    </div>
  </ion-content>
</template>

<script lang="ts">
import {IonHeader, IonToolbar, IonTitle, IonContent, IonNavLink} from '@ionic/vue';
import { defineComponent } from 'vue';
import ItemCard from "@/components/ItemCard.vue";
import LoaderData from "@/components/LoaderData.vue";
import ItemDetail from "@/components/ItemDetail.vue";
import { URL_BASE, URL_BASE_API } from "@/config";
import { addFav, getFav } from "@/saver";

interface Produit {
  id: number,
  name: string,
  price: number,
  description: string,
  image: string,
  rating: number,
  numberNote: number,
  imgsDesc: string,
}

export default defineComponent({
  components: { ItemCard, IonHeader, IonToolbar, IonTitle, IonContent, IonNavLink, LoaderData },
  name: "ItemsHome",
  data: function(): {itemC: any, loader: boolean, items: Produit[]} {

    (async (): Promise<void> => {
      const response = await fetch(URL_BASE_API + 'produits?page=1');
      const json = await response.json();

      let numberNote = 1;
      this.items = json['hydra:member'].map((produit: Produit) => ({
        id: produit.id,
        name: produit.name,
        price: produit.price,
        description: produit.description,
        image: produit.image,
        rating: produit.rating,
        numberNote: numberNote++,
        imgsDesc: [
          URL_BASE + "images/exterieur_chaises_1.jpg",
          URL_BASE + "images/exterieur_chaises_2.jpg"
        ],
      }));
    })();

    return {
      itemC: ItemDetail,
      loader: true,
      items: []
    }
  }
});
</script>

<style scoped>

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0.6rem;
}

.grid ion-card {
  align-self: stretch;
}

.all {
  display: flex;
}
</style>