<template>
  <div class="tt">
    <ion-icon :icon="red ? heart : heartOutline" :class="{iconHeart: true, red: red}" @click="toggle"/>
    <ion-card>
      <ion-img :src="img"/>
      <ion-card-header>
        <ion-card-title>{{ name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ desc }}<br>
        <span class="price">{{ price }} €</span>
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script lang="ts">
import { IonCard, IonCardContent, IonCardHeader, IonCardTitle, IonImg, IonIcon } from '@ionic/vue';
import { defineComponent } from 'vue';
import { heartOutline, heart } from "ionicons/icons";
import { addFav, getFav, removeFav } from "@/saver";

export default defineComponent({
  components: { IonCard, IonCardContent, IonCardHeader, IonCardTitle, IonImg, IonIcon },
  name: "ItemCard",
  props: {
    id: Number,
    name: String,
    img: String,
    desc: String,
    price: Number,
    fav: Boolean
  },
  methods: {
    toggle: function(event: any) {
      event.stopPropagation();
      this.red = !this.red;
      if (this.red) {
        addFav(this.id);
      } else {
        removeFav(this.id);
      }
    }
  },
  data: function () {
    return {
      red: getFav().includes(this.id ?? 0),
    }
  },
  setup() {
    return {
      heartOutline,
      heart
    }
  }
});
</script>

<style scoped>
.iconHeart {
  font-size: 2rem;
  right: 0;
  bottom: 0;
  margin: 0.2rem;
  z-index: 1000;
  position: absolute;
  color: var(--ion-color-primary-contrast-etape-paiement);
}

ion-card-title {
  word-break: break-word;
}

.tt {
  position: relative;
}

.red {
  color: red;
}

.price {
  font-size: 1.2rem;
}

ion-card {
  margin: 0;
  height: 100%;
}

ion-card-content {
  margin: 0;
}
</style>