<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <span>Favoris</span>
        <span class="top" v-if="!isVide" @click="toggleEditing">{{ text }}</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content :fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">
          <span>Favoris</span>
          <span class="top" v-if="!isVide" @click="toggleEditing">{{ text }}</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <loader-data v-if="!items.length && !isVide"/>
    <div v-else-if="isVide" class="text">Vous n'avez pas de favoris</div>
    <ion-nav-link v-else v-for="item of items" :key="item.name" :component="itemC" :componentProps="{...item, back: '/tabs/favories'}">
      <item-card-favorite :name="item.name" :price="item.price" :desc="item.description" :img="item.image" :id="item.id" :is-editing="isEditing" :removeButton="removeButton"/>
    </ion-nav-link>
    <ion-button expand="full" v-if="isEditing" @click="removeAllButton">Tout supprimer</ion-button>
  </ion-content>
</template>

<script lang="ts">
import { IonHeader, IonToolbar, IonTitle, IonContent, IonNavLink, IonButton } from '@ionic/vue';
import { defineComponent } from 'vue';
import ItemCardFavorite from "@/components/ItemCardFavorite.vue";
import ItemDetail from "@/components/ItemDetail.vue";
import LoaderData from "@/components/LoaderData.vue";
import { URL_BASE, URL_BASE_API } from "@/config";
import {getFav, addFav, removeFav, removeAllFav} from "@/saver";

interface Produit {
  id: number,
  name: string,
  price: number,
  description: string,
  image: string,
  rating: number,
  numberNote: number,
  imgsDesc: string,
}

export default defineComponent({
  components: { ItemCardFavorite, IonHeader, IonToolbar, IonTitle, IonContent, IonNavLink, IonButton, LoaderData },
  name: "ItemsHome",
  data: function (): {itemC: any, isVide: boolean, isEditing: boolean, text: string, items: Produit[]} {
    (async (): Promise<void> => {
      const response = await fetch(URL_BASE_API + 'produits?page=1');
      const json = await response.json();

      let numberNote = 1;
      const fav = getFav();
      this.items = json['hydra:member'].map((produit: Produit) => ({
        id: produit.id,
        name: produit.name,
        price: produit.price,
        description: produit.description,
        image: produit.image,
        rating: produit.rating,
        numberNote: numberNote++,
        imgsDesc: [
          URL_BASE + "images/exterieur_chaises_1.jpg",
          URL_BASE + "images/exterieur_chaises_2.jpg"
        ],
      })).filter((produit: Produit) => fav.includes(produit.id));
    })();

    let vide = !getFav().length;

    return {
      itemC: ItemDetail,
      isEditing: false,
      isVide: vide,
      text: "Modifier",
      items: []
    }
  },
  methods: {
    toggleEditing: function () {
      this.isEditing = !this.isEditing;
      if (this.isEditing) {
        this.text = "Terminer"
        this.isVide = !getFav().length;
      } else {
        this.text = "Modifier"
      }
    },
    removeButton: function () {
      this.isVide = !getFav().length;
      if (this.isVide) this.isEditing = false;
    },
    removeAllButton: function () {
      removeAllFav();
      this.isEditing = false;
      this.text = "Modifier";
      this.items = [];
      this.isVide = true;
    }
  }
});
</script>

<style scoped>

.text {
  margin: 0.6rem;
}

.top {
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
}
</style>