<template>
  <div class="loader-c">
    <div class="loader">
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  components: { },
  name: "LoaderData"
});
</script>

<style scoped>
.loader {
  position: relative;
  margin-top: 1rem;
}

.loader {
  left: 50%;
  border: 0.5rem solid #9fd4b4;
  border-top: 0.5rem solid var(--ion-color-primary);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s infinite;
}

@keyframes spin {
  0% { transform:  translate(-50%) rotate(90deg); }
  100% { transform:  translate(-50%) rotate(450deg); }
}
</style>