<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <span>Panier</span>
        <span class="top" v-if="!isVide" @click="toggleEditing">{{text}}</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content :fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">
          <span>Panier</span>
          <span class="top" v-if="!isVide" @click="toggleEditing">{{text}}</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <loader-data v-if="!items.length && !isVide"/>
    <div v-else-if="isVide" class="text">Votre panier est vide</div>
    <ion-nav-link v-else v-for="item of items" :key="item.name" :component="itemC" :componentProps="{...item, back: '/tabs/panier'}">
      <item-card-panier :name="item.name" :price="item.price" :desc="item.description" :image="item.image" :id="item.id" :is-editing="isEditing" :qte="item.qte" :removeButton="removeButton" :updateTotal="updateTotal"/>
    </ion-nav-link>
  </ion-content>
  <ion-footer>
    <div class="divPrixTotal">
      <p>Total</p>
      <span class="prixTotal">{{ total }} €</span>
    </div>
    <ion-nav-link :component="LivraisonP" :componentProps="{back: '/tabs/panier'}">
      <ion-button expand="full">Valider mon panier</ion-button>
    </ion-nav-link>
  </ion-footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import {
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonFooter,
  IonNavLink,
  IonButton,
  toastController
} from '@ionic/vue';
import ItemCardPanier from '@/components/ItemCardPanier.vue'
import LivraisonPanier from '@/components/panier/LivraisonPanier.vue'
import {addPan, getFav, getPan, removeFav} from "@/saver";
import {URL_BASE, URL_BASE_API} from "@/config";
import ItemDetail from "@/components/ItemDetail.vue";
import LoaderData from "@/components/LoaderData.vue";

interface Produit {
  id: number,
  name: string,
  price: number,
  description: string,
  image: string,
  rating: number,
  numberNote: number,
  imgsDesc: string,
  qte: number
}

export default  defineComponent({
  name: 'ItemPanier',
  components: { ItemCardPanier, IonHeader, IonToolbar, IonTitle, IonContent, IonFooter, IonNavLink, IonButton, LoaderData },
  data: function () {
    (async (): Promise<void> => {
      const response = await fetch(URL_BASE_API + 'produits?page=1');
      const json = await response.json();

      let numberNote = 1;
      const pan = getPan();
      this.items = json['hydra:member'].filter((produit: Produit) => {
        for (let i = 0; i < pan.length; i++) {
          if (produit.id === pan[i].id) {
            return true;
          }
        }

        return false;
      }).map((produit: Produit) => {
        return {
          id: produit.id,
          name: produit.name,
          price: produit.price,
          description: produit.description,
          image: produit.image,
          rating: produit.rating,
          numberNote: numberNote++,
          qte: pan.find((item) => item.id === produit.id)?.qte,
          imgsDesc: [
            URL_BASE + "images/exterieur_chaises_1.jpg",
            URL_BASE + "images/exterieur_chaises_2.jpg"
          ],
        }
      });

      this.updateTotal();
    })();

    let vide = !getPan().length;

    return {
      LivraisonP: LivraisonPanier,
      itemC: ItemDetail,
      total: 0,
      isEditing: false,
      isVide: vide,
      text: "Modifier",
      items: []
    }
  },
  methods: {
    updateTotal: function(delta: number) {
      (async (): Promise<void> => {
        const response = await fetch(URL_BASE_API + 'produits?page=1');
        const json = await response.json();

        let total = 0;

        let numberNote = 1;
        const pan = getPan();
        json['hydra:member'].filter((produit: Produit) => {
          for (let i = 0; i < pan.length; i++) {
            if (produit.id === pan[i].id) {
              return true;
            }
          }

          return false;
        }).map((produit: Produit) => {
          let qte = pan.find((item) => item.id === produit.id)?.qte ?? 0;

          total += qte * produit.price;

          return {
            id: produit.id,
            name: produit.name,
            price: produit.price,
            description: produit.description,
            image: produit.image,
            rating: produit.rating,
            numberNote: numberNote++,
            qte: qte,
            imgsDesc: [
              URL_BASE + "images/exterieur_chaises_1.jpg",
              URL_BASE + "images/exterieur_chaises_2.jpg"
            ],
          }
        });

        this.total = total;
      })();
    },
    toggleEditing: function () {
      this.isEditing = !this.isEditing;
      if (this.isEditing) {
        this.text = "Terminer"
        this.isVide = !getPan().length;
      } else {
        this.text = "Modifier"
      }
    },
    removeButton: function () {
      this.isVide = !getPan().length;
      if (this.isVide) this.isEditing = false;
    },
  }
});
</script>

<style scoped>
.text {
  margin: 0.6rem;
}

.divPrixTotal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
}

ion-footer {
  background-color: var(--ion-color-primary-contrast-footer);
}

ion-title span{
  text-decoration: none;
}

.top {
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
}
</style>