<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button :defaultHref="back"></ion-back-button>
        </ion-buttons>
        <ion-title>
          Livraison
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">
            Livraison
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <div class="etapeCommande">
        <div class="divEtapeCommande divEtapeCommande1">1</div>
        <span class="diviser">______</span>
        <div class="divEtapeCommande divEtapeCommande2">2</div>
        <span class="diviser">______</span>
        <div class="divEtapeCommande divEtapeCommande3">3</div>
        <span class="diviser">______</span>
        <div class="divEtapeCommande divEtapeCommande4">4</div>
      </div>

      <p class="titreAdresse">Adresse de livraison</p>
      <div class="adresseUtilisateur">
        <div class="modifierAdresse">
          <p class="nomUtilisateur">Guillaume Leone</p>
          <span>Changer</span>
        </div>
        <p class="rueUtilisateur">10 avenue de la Défense</p>
        <p class="villeUtilisateur">75001, Paris</p>
      </div>

    </ion-content>
    <ion-footer>
      <ion-nav-link :component="PaiementP">
        <ion-button expand="full">Suivant</ion-button>
      </ion-nav-link>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonButtons, IonBackButton, IonTitle, IonContent, IonFooter, IonNavLink, IonButton } from '@ionic/vue';
import PaiementPanier from '@/components/panier/PaiementPanier.vue';

export default defineComponent({
  name: 'LivraisonPanier',
  components: { IonPage, IonHeader, IonToolbar, IonButtons, IonBackButton, IonTitle, IonContent, IonFooter, IonNavLink, IonButton },
  data: function () {
    return {
      back: String,
      PaiementP: PaiementPanier
    }
  }
});
</script>

<style scoped>

.etapeCommande {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: var(--ion-color-primary-contrast-etape-paiement);
}

.etapeCommande .divEtapeCommande {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-color: var(--ion-color-primary-contrast-etape-paiement);
}

.diviser {
  transform: translate(0px, -7px);
}

.divEtapeCommande2 {
  background-color: #2BCE6C;
}

ion-footer {
  background-color: var(--ion-color-primary-contrast-footer);
  position: absolute;
  bottom: 0;
}

ion-title {
  position: relative;
}

ion-title span{
  text-decoration: none;
}

.adresseUtilisateur {
  margin: 0.5rem;
  font-size: 20px;
}

.adresseUtilisateur .rueUtilisateur {
  margin: 0;
}

.modifierAdresse {
  display: flex;
  justify-content: space-between;
}

.modifierAdresse span {
  font-size: 12px;
}

.titreAdresse {
  font-size: 12px;
  margin-left: 0.5rem;
}
</style>