<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="back"></ion-back-button>
        </ion-buttons>
        <ion-title>Paiement</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Paiement</ion-title>
        </ion-toolbar>
      </ion-header>

      <div class="etapeCommande">
        <div class="divEtapeCommande divEtapeCommande1">1</div>
        <span class="diviser">______</span>
        <div class="divEtapeCommande divEtapeCommande2">2</div>
        <span class="diviser">______</span>
        <div class="divEtapeCommande divEtapeCommande3">3</div>
        <span class="diviser">______</span>
        <div class="divEtapeCommande divEtapeCommande4">4</div>
      </div>

      <div class="divModePaiement">
        <p class="titrePaiement">Mode de paiement</p>
        <ion-img :src="'https://www.pngkit.com/png/full/147-1471566_credit-card-logos-mastercard-and-visa-payment.png'" class="imgModePaiement"></ion-img>
      </div>
      <div class="formPaiement">
        <ion-input type="text" placeholder="Titulaire de la carte"></ion-input>
        <ion-input type="number" placeholder="Numéro de carte"></ion-input>
        <div class="divDateCrypt">
          <ion-input class="dateValide" type="date" placeholder="Date de validité"></ion-input>
          <ion-input class="crypto" type="number" placeholder="Cryptogramme"></ion-input>
        </div>
      </div>

    </ion-content>
    <ion-footer>
      <div class="divPrixTotal">
        <p>Total</p>
        <span class="prixTotal">554€</span>
      </div>
      <ion-button expand="full">Payer ma commande</ion-button>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonInput, IonFooter, IonButton, IonButtons, IonBackButton } from '@ionic/vue';

export default defineComponent({
  name: 'PaiementPanier',
  components: { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonInput, IonFooter, IonButton, IonButtons, IonBackButton }
});
</script>

<style scoped>

.etapeCommande {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: var(--ion-color-primary-contrast-etape-paiement);
}

.etapeCommande .divEtapeCommande {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-color: var(--ion-color-primary-contrast-etape-paiement);
}

.diviser {
  transform: translate(0px, -7px);
}

.divEtapeCommande3 {
  background-color: #2BCE6C;
}

.divPrixTotal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
}

.divModePaiement {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2.5rem;
}

.imgModePaiement {
  width: 75px;
}

ion-footer {
  background-color: var(--ion-color-primary-contrast-footer);
  position: absolute;
  bottom: 0;
}

ion-title {
  position: relative;
}

.formPaiement {
  margin: 0.5rem;
}

.formPaiement ion-input {
  border: 1px solid var(--ion-color-primary-contrast-etape-paiement);
  margin-bottom: 0.5rem;
}

.divDateCrypt {
  display: flex;
  justify-content: space-between;
}

.dateValide {
  margin-right: 0.25rem;
}

.crypto {
  margin-left: 0.25rem;
}

.titrePaiement {
  font-size: 12px;
  margin-left: 0.5rem;
}
</style>